[submodule "computor"]
	path = computor
	url = https://github.com/JulienBalestra/computor.git
[submodule "libft"]
	path = libft
	url = https://github.com/JulienBalestra/libft.git
[submodule "libftASM"]
	path = libftASM
	url = https://github.com/JulienBalestra/libftASM.git
[submodule "moulitest"]
	path = moulitest
	url = https://github.com/JulienBalestra/moulitest.git
[submodule "get_next_line"]
	path = get_next_line
	url = https://github.com/JulienBalestra/get_next_line.git
