[submodule "computor"]
	path = computor
	url = https://github.com/JulienBalestra/computor.git
[submodule "libft"]
	path = libft
	url = https://github.com/JulienBalestra/libft.git
[submodule "libftASM"]
	path = libftASM
	url = https://github.com/JulienBalestra/libftASM.git
[submodule "moulitest"]
	path = moulitest
	url = https://github.com/JulienBalestra/moulitest.git
[submodule "get_next_line"]
	path = get_next_line
	url = https://github.com/JulienBalestra/get_next_line.git
[submodule "ls_darwin"]
	path = ls_darwin
	url = https://github.com/JulienBalestra/ls_darwin.git
[submodule "ls_linux"]
	path = ls_linux
	url = https://github.com/JulienBalestra/ls_linux.git
[submodule "minishell"]
	path = minishell
	url = https://github.com/JulienBalestra/minishell.git
[submodule "21sh"]
	path = 21sh
	url = https://github.com/JulienBalestra/21sh.git
[submodule "42cbox"]
	path = 42cbox
	url = https://github.com/JulienBalestra/42cbox.git
