<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Help</h4>
            </div>
            <div class="modal-body">
                <div class="page-header">
                    <h3>This is Computor V1 for the programming school 42</h3>
                    <br>
                    <br>

                    <p>The project is about resolving polynomial equation until degree 2 !</p>

                    <p> You can get the french 
                        <a href="static/computorv1.fr.pdf">subject</a>
                    </p>
                    <br>
                </div>
                <br>
                <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapseOne"
                                   aria-expanded="false" aria-controls="collapseOne">
                                    How to
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingOne">
                            <div class="panel-body">
                                <p>Enter some equation in the two fields in the main page : </p>

                                <p><code>5 * X^0 + 4 * X^1 - 9.3 * X^2 = 0</code></p>
                                <br>

                                <p>or something more natural like :</p>

                                <p><code>5 + 4x - 9,3 x**2</code></p>
                                <br>

                                <p>When <u>only</u> one field is filled, the second one takes 0 by default</p>
                            </div>
                        </div>

                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a data-toggle="collapse"
                                   href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Bonus
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <a class="btn btn-link" data-toggle="collapse" href="#steps" aria-expanded="false"
                                   aria-controls="collapseExample">
                                    Steps displayed
                                </a>

                                <div class="collapse" id="steps">
                                    <div class="well">
                                        <div class="col-md-8">
                                            <li>Given Equation</li>
                                            <li>Formatted Equation (if different from given)</li>
                                            <li>Reduced form</li>
                                            <li>Degree</li>
                                            <li>Discriminant (if degree is 2)</li>
                                            <li>Solutions</li>
                                        </div>
                                        <br> <br> <br> <br> <br> <br>
                                    </div>


                                </div>

                                <br>
                                <a class="btn btn-link" data-toggle="collapse" href="#natural" aria-expanded="false"
                                   aria-controls="collapseExample"> Natural form </a>

                                <div class="collapse" id="natural">
                                    <div class="well">
                                        <p>Equation can also given with natural form</p>

                                        <div class="col-md-12">
                                            <li>4 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                                                    class="glyphicon glyphicon-resize-horizontal"></span>
                                                &nbsp;&nbsp; 4 * X^0
                                            </li>
                                            <li>x &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                                                    class="glyphicon glyphicon-resize-horizontal"></span>&nbsp;&nbsp; 1
                                                * X^1
                                            </li>
                                            <li>5x &nbsp;&nbsp;&nbsp;<span
                                                    class="glyphicon glyphicon-resize-horizontal"></span>&nbsp;&nbsp; 5
                                                * X^1
                                            </li>
                                            <li>x*5 &nbsp;&nbsp;<span
                                                    class="glyphicon glyphicon-resize-horizontal"></span>&nbsp;&nbsp; 5
                                                * X^1
                                            </li>

                                        </div>
                                        <br><br><br><br>
                                    </div>
                                </div>

                                <br>
                                <a class="btn btn-link" data-toggle="collapse" href="#easy" aria-expanded="false"
                                   aria-controls="collapseExample"> Easy form </a>

                                <div class="collapse" id="easy">
                                    <div class="well">
                                        <p>Equation can also given with easy form</p>

                                        <div class="col-md-12">
                                            <li>x**2 &nbsp;&nbsp;<span
                                                    class="glyphicon glyphicon-resize-horizontal"></span>&nbsp;&nbsp;
                                                X^2
                                            </li>
                                            <li>00.0 &nbsp;<span
                                                    class="glyphicon glyphicon-resize-horizontal"></span>&nbsp;&nbsp; 0
                                            </li>
                                            <li>01 &nbsp;&nbsp;&nbsp;&nbsp;<span
                                                    class="glyphicon glyphicon-resize-horizontal"></span>&nbsp;&nbsp; 1
                                            </li>
                                            <li>, &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                                                    class="glyphicon glyphicon-resize-horizontal"></span>&nbsp;&nbsp; .
                                            </li>
                                            <li>add missing spaces</li>
                                            <li>remove useless spaces</li>
                                        </div>
                                        <br><br><br><br><br><br>

                                    </div>
                                </div>
                                <br>
                                <a class="btn btn-link" data-toggle="collapse" href="#fraction" aria-expanded="false"
                                   aria-controls="collapseExample"> Fraction </a>

                                <div class="collapse" id="fraction">
                                    <div class="well">
                                        <p>When the following conditions are satisfied, results are displayed as
                                            fractions:</p>

                                        <div class="col-md-8">
                                            <li>numerator <= 10</li>
                                            <li>denominator <= 100</li>
                                        </div>
                                        <br>
                                        <br>

                                    </div>
                                </div>
                                <br>
                                <a class="btn btn-link" data-toggle="collapse" href="#terminal" aria-expanded="false"
                                   aria-controls="collapseExample"> Terminal options </a>

                                <div class="collapse" id="terminal">
                                    <div class="well">
                                        <p>For terminal using the following options are available:</p>

                                        <div class="col-md-8">
                                            <li>goodies (formatting & colorize) <kbd>-g True</kbd></li>
                                            <li>don't catch the exception <kbd>-e True</kbd></li>
                                        </div>
                                        <br>
                                        <br>
                                    </div>
                                </div>

                                <br>
                                <a class="btn btn-link" data-toggle="collapse" href="#web" aria-expanded="false"
                                   aria-controls="collapseExample"> Web platform </a>

                                <div class="collapse" id="web">
                                    <div class="well">
                                        <p>This web platform !</p>

                                        <div class="col-md-8">
                                            <li>Flask engine</li>
                                            <li>Jinja2 template</li>
                                        </div>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                                <br>
                                <a class="btn btn-link" data-toggle="collapse" href="#ci" aria-expanded="false"
                                   aria-controls="collapseExample"> Continuous Integration </a>

                                <div class="collapse" id="ci">
                                    <div class="well">
                                        <p>This project is coded under continuous integration</p>

                                        <div class="col-md-8">
                                            <li>unittest module</li>
                                            <li>travis CI</li>
                                        </div>
                                        <br>
                                        <br>
                                        <br>

                                        <p>You can visit the <a
                                                href="https://github.com/JulienBalestra/computor">github</a> page</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>